<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarangServlet</servlet-name>
        <servlet-class>controller.BarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesInsertSupplier</servlet-name>
        <servlet-class>controller.ProsesInsertSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormUpdateSupplierServlet</servlet-name>
        <servlet-class>controller.FormUpdateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateSupplierServlet</servlet-name>
        <servlet-class>controller.ProsesUpdateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesDeleteSupplierServlet</servlet-name>
        <servlet-class>controller.ProsesDeleteSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormInsertBarang</servlet-name>
        <servlet-class>controller.FormInsertBarang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesInsertBarangServlet</servlet-name>
        <servlet-class>controller.ProsesInsertBarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormUpdateBarangServlet</servlet-name>
        <servlet-class>controller.FormUpdateBarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsesUpdateBarangServlet</servlet-name>
        <servlet-class>controller.ProsesUpdateBarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/supplierservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarangServlet</servlet-name>
        <url-pattern>/barangservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesInsertSupplier</servlet-name>
        <url-pattern>/prosesinsertsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormUpdateSupplierServlet</servlet-name>
        <url-pattern>/formupdatesupplierservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateSupplierServlet</servlet-name>
        <url-pattern>/prosesupdatesupplierservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesDeleteSupplierServlet</servlet-name>
        <url-pattern>/prosesdeletesupplierservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormInsertBarang</servlet-name>
        <url-pattern>/forminsertbarang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesInsertBarangServlet</servlet-name>
        <url-pattern>/prosesinsertbarangservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormUpdateBarangServlet</servlet-name>
        <url-pattern>/formupdatebarangservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsesUpdateBarangServlet</servlet-name>
        <url-pattern>/prosesupdatebarangservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
